# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
AsynScriptAssist_IntegrationTests/bin/Debug/AsynScriptAssist.dll
*.pdb
AsynScriptAssist_IntegrationTests/bin/Debug/AsynScriptAssist_IntegrationTests.dll
AsynScriptAssist_IntegrationTests/obj/Debug/AsynScriptAssist_IntegrationTests.dll
*.cache
AsynScriptAssist_UnitTests/bin/Debug/AsynScriptAssist.dll
obj/Debug/AsynScriptAssist.csproj.FileListAbsolute.txt
obj/Debug/AsynScriptAssist.cto
*.original
AsynScriptAssist_IntegrationTests/bin/Debug/Microsoft.VSSDK.TestHostFramework.dll
AsynScriptAssist_UnitTests/bin/Debug/AsynScriptAssist_UnitTests.dll
AsynScriptAssist_UnitTests/bin/Debug/Microsoft.VSSDK.TestHostFramework.dll
AsynScriptAssist_IntegrationTests/obj/Debug/AsynScriptAssist_IntegrationTests.csproj.FileListAbsolute.txt
AsynScriptAssist_UnitTests/bin/Debug/Microsoft.VSSDK.UnitTestLibrary.dll
bin/Debug/AsynScriptAssist.dll
bin/Debug/AsynScriptAssist.vsix
obj/Debug/Eureka.AsynScriptAssist.Resources.resources
obj/Debug/VSPackage.resources
*.tlog
obj/Debug/extension.vsixmanifest
*.pkgdef
obj/Debug/AsynScriptAssist.csproj.VsixDeployedFileListAbsolute.txt
AsynScriptAssist_UnitTests/obj/Debug/AsynScriptAssist_UnitTests.csproj.FileListAbsolute.txt
obj/Debug/AsynScriptAssist.dll
AsynScriptAssist_UnitTests/obj/Debug/AsynScriptAssist_UnitTests.dll
bin/Debug/extension.vsixmanifest
